body {
    font-family: "Verdana", sans-Seriff;
}
header {
    background: #7BAFD4;
    position: fixed;
	text-align:center;
    width: 100%;
    height: 60px;
    top: 0px;
    left: 0px; 
    margin: auto; 
    z-index: 100000;
	
}
header #mainSection{
	display:inline-block;
	font-weight: bold;
    font-size: 50px;
    color: white;
    position: relative;
    top: -20%;
    left: 1%;
	
}

.creatorWrap {
	
	width:1000px;
	height:1000px;
	background-color:#D8D8D8   ;
	position: relative;
	margin:auto;
	overflow: hidden;
	min-height: 400px;	
}

.creatorCenter{
	width:750px;
	height:500px;
	background-color:white;
	position:absolute;
	left:150px;
	right:150px;
	top:5px;
	
}
.creatorLeft {
	width:100px;
	height:100%;
	position:absolute;
	background-color:lighter;
	margin-left:30px;
	margin-top:50px;
	list-style:none;
	top:1%;
	line-height:3px;
	text-align:left;
}

button {
  display: inline-block;
  border-radius: 15px;
  border: none;
  font-size: 0.9rem;
  padding: 0.4rem 0.8em;
  background: #69c773;
  border-bottom: 1px solid #498b50;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  margin: 0 0 1em;
  text-align: center;
  
}

button:hover, button:focus {
  opacity: 0.75;
  cursor: pointer;
}

button:active {
  opacity: 1;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

div,
p {
  line-height: 1.6em;
  
}

section > div {
  padding: 1em;
  border-radius: 5px;
  outline: none;
  border: 2px solid transparent;
  
}

section > div[contenteditable='true']:hover{
  background: #00FFFF;
  
}

section > div:focus, section > div:focus:hover  {
  background: #FFF;
  border-color: #69c773;
  box-shadow: 0 1px 5px rgba(0,0,0,0.15) inset;
  width:750px;
  height:500px;
}


