body {
    width: 1000px;
    margin: auto;
    margin-top: -1px;
    overflow-x: hidden;
    font-family: Arial;
}

/*----- HEADER -----*/

.header {
    height: 50px;
    padding: 5px 0 0px 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: #93c1ee;
}

#unc_logo {
    display: inline;
    position: relative;
    height: 75px;
    margin-top: -16px;
    margin-left: -5px;
}
#title {
    font-size: 36px;
    font-weight: bold;
    display: block;
    color: white;
    width: 210px;
    margin: -62px auto 0 auto;
}
#log_out {
    position: absolute;
    right: 8px;
    top: 10px;
    padding: 7px 7px 7px 7px;
}
#help {
    position: absolute;
    right: 107px;
    top: 10px;
    padding: 7px;
}
#help, #log_out {
    font-size: 18px;
    border-radius: 2px;
    text-decoration: none !important;
    color: white;
    font-weight: bold;
}
#help:hover, #log_out:hover {
    color: white;
    background: #235d86;
}
#divider {
    position: absolute;
    right: 98px;
    top: 10px;
    height: 35px;
    border-right: 1px solid gainsboro;
}


/*----- BODY -----*/

#main {
    padding-top: 80px;
}
.syllabus-info {
    padding: 6px 0px 30px 10px;
    border-bottom: 4px solid whitesmoke;
    margin-bottom: 20px;
    height: auto;
    overflow: auto;
    font-size: 1.2em;
    align-content: center;
    text-align: center; 
}
.syllabus-info h2 {
    font-size: 1.4em;
    line-height: 0.2em;
    color: #235d86;
    text-align: center;
    padding-bottom: 5px;
}
.syllabus-info button {
    height: 30px;`
    margin: 10px auto 0px auto;
    background: #93c1ee;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}
.syllabus-info button:hover {
    color: white;
    background: #235d86;
}
.syllabus-info input[type="text"]{
    float: right;
    width: 150px;
    height: 25px;
    font-size: 0.9em;
}
.syllabus-info select {
    height: 30px;
    line-height: 28px;
    width: 150px;
    background: white;
    font-size: 1em;
}
.syllabus-info option {
    font-size: 0.8em;
    color: red;
    text-align: right;
    font-family: Arial, sans-serif;
}
.syllabus-actions {
    display: block;
}
#save-button {
    margin-right: 80px;
}


.prelude {
    padding: 0px 0px 30px 10px;
    border-bottom: 4px solid whitesmoke;
    margin-bottom: 40px;
    height: auto;
    overflow: auto;
    font-size: 1.1em;
}
#prelude1 {
    float: left;
    width: 32%;
    padding-right: 2%;
    margin-right: 2%;
    border-right: 3px solid whitesmoke; 
}
#prelude2 {
    float: left;
    width: 30%;
    padding-right: 1%;
    margin-right: 1.5%;
}
#prelude3 {
    float: left;
    width: 28%;
    padding-left: 1.5%;
    margin-right: 1%;
    border-left: 3px solid whitesmoke;

}
.prelude h2 {
    line-height: 0.2em;
    color: #235d86;
    text-align: center;
}
.prelude h3 {
    line-height: 0.6em;
    color: #93c1ee;
}
.prelude input[type="text"]{
    float: right;
    width: 150px;
    font-size: 0.7em;
}
#syllabus-name {
    float: none;
}

.course-info {
    padding-bottom: 10px;
}
/*.course-info:before {
    color: #93c1ee;
    content: '* ';
    display: inline;
    margin-left: -2px;
}*/

#day_boxes {
    float: right;
    font-size: 0.9em;
}
#day_boxes input {
    margin-left: 5px;
}

.instructor-info {
    padding-bottom: 10px;
}

#note {
    width: 150px;
    margin: 250px auto -5px auto;
}
#note:before {
    color: #93c1ee;
    content: '* ';
    display: inline;
    margin-left: -2px;
}




.left-side {
    float: left;
    clear: left;
    width: 100%;
    padding-bottom: 30px;
}

.right-side {
    float: right;
    width: 85%;
    height: 100%;
    padding-bottom: 30px;
}

.left-side .button {
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 0px;
    -moz-box-shadow: 0px 1px 5px #666666;
    color: #575757;
    font-size: 20px;
    background: #ffffff;
    padding: 10px 1px 10px 1px;
    text-decoration: none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: pointer;
    min-width: 13%;
    max-width: 13%;
    margin: auto 4px 7px 4px;
    border: 1px solid lightgray;
    text-align: center;
}

.button:hover {
    background: #93c1ee !important;
    color: white !important;
    text-decoration: none !important;
}

#top_row {
    float: left;
    width: 100%;
}
#top_row div {
    float: left;
}
#bottom_row {
    float: left;
    clear: left;
    width: 100%;
}
#bottom_row div{
    float: left;
}




/*----- BOTTOM -----*/

.bottom {
    margin-bottom: 50px;
    clear: left;
    /*padding-left: 20%;*/
}

.bottom .button {
    float: left;
    clear: left;
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 0px;
    -moz-box-shadow: 0px 1px 5px #666666;
    color: #575757;
    font-size: 20px;
    font-weight: bold;
    background: #ffffff;
    text-decoration: none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: pointer;
    min-width: 13%;
    max-width: 13%;
    margin: auto 4px 7px 4px;
    border: 1px solid lightgray;
    text-align: center;
}

#preview-button {
    padding: 51px 2px;
/*    width: 135px;
    height: 120px;*/
    /*text-align: center;*/
}
#export-docx-button {
    padding: 40px 2px;
    width: 200px;
    white-space: pre-wrap;
}
#export-html-button {
    padding: 40px 2px;
}
#clear-button {
    padding: 40px 2px;
}

/*----- FIREFOX STYLES FOR BUTTONS -----*/

_:-moz-tree-row(hover), #preview-button {
    padding: 50px 2px;
}
_:-moz-tree-row(hover), #export-docx-button {
    padding: 44px 2px;
    line-height: 0.6em;
}
_:-moz-tree-row(hover), #export-html-button {
    padding: 38.5px 2px;
}
_:-moz-tree-row(hover), #clear-button {
    padding: 39px 2px;
}

#preview-button:hover, #export-docx-button:hover, #export-html-button:hover {
    background: #235d86 !important;
    color: white !important;
    text-decoration: none !important;
}
#clear-button:hover {
    background: firebrick !important;
    color: white !important;
    text-decoration: none !important;
}


.editor {
    width: 95%;
    height: 500px;
    -moz-border-radius: 6;
    font-family: Arial;
    font-size: 20px;
    outline: none;
    resize: none;
    overflow: auto;
    padding: 15px;
}

/*----- SCHEDULE ------*/

.schedule {
    /*margin-top: 10px;*/
    clear: both;
    margin-bottom: 50px;
    padding-top: 5px;
    border-top: 4px solid whitesmoke;
}

.schedule h2 {
    /*line-height: 0.8em;*/
    color: #235d86;
    text-align: center;
}

table {
    width: 100%;
}
th, td {
    padding: 8px;
    text-align: left;
}
table, th, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
}
/*
table tr:nth-child(even) {
    background-color: #93c1ee;
}
table tr:nth-child(odd) {
   background-color: #ffffff;
}*/

table th {
    background-color: white;
    color: black;
}
table input {
    width: 99%;
    height: 25px;
    font-size: 1.1em;
}

