body {
    width: 900px;
    margin: auto;
    margin-top: -1px;
    overflow-x: hidden;
    font-family: Arial;
}

header {
    font-family: Arial;
    height: 50px;
    padding: 5px 0 0px 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: #93c1ee;
}

#unc_logo {
    display: inline;
    position: relative;
    height: 75px;
    margin-top: -16px;
    margin-left: -5px;
}
#title {
    font-size: 36px;
    font-weight: bold;
    display: block;
    color: white;
    width: 210px;
    margin: -62px auto 0 auto;
}

#log_out {
    position: absolute;
    right: 12px;
    top: 10px;
    font-size: 18px;
    border-radius: 2px;
    padding: 7px;
    text-decoration: none !important;
    color: white;
    font-weight: bold;
}
#log_out:hover {
    color: white;
    background: #235d86;
}

/*----- BODY -----*/

h1 {
    text-align: center;
}
#help_box {
    padding: 30px;
    display: block;
    width: 500px;
    height: auto;
    margin: 150px auto 0 auto;
    border: 10px solid #93c1ee;
}
#help_box h2 {
    text-align: center;
    color: white;
    margin: 0 auto;
    font-size: 1.75em;
    background: #93c1ee;
    width: 560px;
    padding: 0px 10px 10px 10px;
    margin: -30px 0px 0px -40px;
}

#main {
    /*padding: 0px 0px 30px 10px;*/
    /*border-bottom: 1px solid lightgray;*/
    /*margin-bottom: 40px;*/
    height: auto;
    /*overflow: auto;*/
    font-size: 1.1em;
}
#main h3 {
    line-height: 0.6em;
    /*color: #93c1ee;*/
    color: #235d86;
}
