body {
	width: 900px;
	margin: auto;
	margin-top: -1px;
	overflow-x: hidden;
	font-family: Arial;
}

header {
	font-family: Arial;
	height: 50px;
	padding: 5px 0 0px 5px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	color: white;
	background-color: #93c1ee;
}

#unc_logo {
	display: inline;
	position: relative;
	height: 75px;
	margin-top: -16px;
	margin-left: -5px;
}
#title {
	font-size: 36px;
	font-weight: bold;
	display: block;
	color: white;
	width: 210px;
	margin: -62px auto 0 auto;
}

#help {
	position: absolute;
	right: 12px;
	top: 10px;
	font-size: 18px;
	border-radius: 2px;
	padding: 7px;
	text-decoration: none !important;
	color: white;
	font-weight: bold;
}
#help:hover {
	color: white;
	background: #235d86;
}

/*----- HELP WINDOW -----*/


/*----- BODY -----*/

h1 {
	text-align: center;
}
/*h2 {
	text-align: center;
    color: white;
    margin: 200px auto 0 auto;
    font-size: 1.5em;
    background: #93c1ee;
    width: 460px;
    padding: 10px 10px 0 10px;
}*/

#login_box {
	padding: 30px;
	display: block;
	width: 400px;
	height: 240px;
	margin: 200px auto 0 auto;
	border: 10px solid #93c1ee;
}
#login_box h2 {
	text-align: center;
    color: white;
    margin: 0 auto;
    font-size: 1.5em;
    background: #93c1ee;
    width: 460px;
    padding: 0px 10px 10px 10px;
    margin: -30px 0px 0px -40px;
}
/*#login_box {
	padding: 30px;
	display: block;
	width: 400px;
	height: 200px;
	margin: 0px auto 0 auto;
	border: 10px solid #93c1ee;
}*/
#fields {
	width: 320px;
	margin: 25px auto 0 auto;
	line-height: 1.5em;
}
#fields span {
	font-weight: bold;
	font-size: 1.15em;
	color: #235d86;
}
input[type="text"]{
	height: 30px;
	width: 200px;
	font-size: 1.25em;
	margin-left: 7px;
}
input[type="password"] {
	height: 30px;
	width: 200px;
	font-size: 1.25em;
	margin-left: 9px;
}
button {
	display: block;
	width: 100px;
	height: 40px;
	margin: 10px auto 0px auto;
	background: #93c1ee;
	color: white;
	font-size: 1em;
	font-weight: bold;
	border: none;
	border-radius: 2px;
}
button:hover {
	color: white;
	background: #235d86;
}
