<!DOCTYPE html>
<html>
	<!--<script src="js/jquery-1.12.1.min.js"></script>-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/test-controller.js"></script>
    <script src="js/dragula.min.js"></script>
	<script src="js/creator.js"></script>

	
	<head>
        <title>Syllabuilder</title>
        <link rel="stylesheet" type="text/css" href="css/dragula.min.css">
        <link rel="stylesheet" type="text/css" href="css/creator.css"> 
    </head>
	
		<header>
		<div id="mainSection">	
			<span> UNC Syllabuilder </span>	 </div>
		</header>
			
	<body ng-app="App">
		<div ng-controller="AppCtrl">
		  <div class="creatorWrap">
			<div class="creatorLeft">			
			<div class="creatorLeft">			

			 <button id="editorBtnTitle" type="button" ng-click="toggleEditMode()"> 
					 {{editmode ? 'Title' : 'Title'}} 
			 </button>	 
			 
			<button id="editorBtnPreReq" type="button" ng-click="toggleEditMode()"> 
		
					 {{editmode ? 'Prerequisite' : 'Prerequisite'}} </button> 
				
			<button id="editorBtnObj" type="button" ng-click="toggleEditMode()"> 
					 {{editmode ? 'Objective' : 'Objective'}}</button> 
					 
			<button id="editorBtnPol" type="button" ng-click="toggleEditMode()"> 
					 {{editmode ? 'Policies' : 'Policies'}}</button>
					 
			<button id="editorBtnHonCode" type="button" ng-click="toggleEditMode()"> 
					 {{editmode ? 'HonorCode' : 'HonorCode'}}</button> 
					 
			<button id="editorBtnSch" type="button" ng-click="toggleEditMode()"> 
					 {{editmode ? 'Schedule' : 'Schedule'}}</button> 
			</div>	
			<div class="creatorCenter"> 
			    <section>							
					  <div id="editor" ng-model="text01" ng-attr-contenteditable="{{ editmode }}"> </div>	
				</section>	
			</div>
			<div class="creatorRight"> </div>	
		</div>	
	
	</div>
	
</body>
</html>
<!--<button ng-click="title=!title">Title</button>
				<span ng-hide="title">
					<input type="text"/> </span>
				<span ng-show="title"></span>-->