<!DOCTYPE html>
<html>
	<!-- Angular -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- Controllers -->
    <script src="controller.js"></script>
    <!-- CSS -->
	<head>
		<title> Syllabuilder - Editor </title>
		<link rel="stylesheet" type="text/css" href="editor.css">
		<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		<meta charset="UTF-8">
	</head>

	<body ng-app="syllabuilder">
		<!-- Top header -->
		<div class="header">
			<a href="http://www.unc.edu"><img id="unc_logo" src="small_white_300px.png"></a>
			<span id="title">Syllabuilder</span>
			<span id="log_out"><a href="login.html"> Log Out </a></span>
			<!-- <span class="tagline">Build a better syllabus</span> -->
		</div>

		<div id="main" ng-controller='main-controller'>
			<!-- Left button panel -->
			<div class="left-side" ng-init="placeholderText='Title'; lastSection='Title'; currentSection='Title';">			
				<div class="section-button" id="Title"         ng-click="saveSection(text, 'Title',         lastSection)">Title</div>
				<div class="section-button" id="Course Info"   ng-click="saveSection(text, 'Course Info',   lastSection)">Course Info</div>
				<div class="section-button" id="Description"   ng-click="saveSection(text, 'Description',   lastSection)">Description</div>
				<div class="section-button" id="Objectives"    ng-click="saveSection(text, 'Objectives',    lastSection)">Objectives</div>
				<div class="section-button" id="Prerequisites" ng-click="saveSection(text, 'Prerequisites', lastSection)">Prerequisites</div>
				<div class="section-button" id="Required Text" ng-click="saveSection(text, 'Required Text', lastSection)">Required Text</div>
				<div class="section-button" id="Grading"       ng-click="saveSection(text, 'Grading',       lastSection)">Grading</div>
				<div class="section-button" id="Exams"         ng-click="saveSection(text, 'Exams',         lastSection)">Exams</div>
				<div class="section-button" id="Honor Code"    ng-click="saveSection(text, 'Honor Code',    lastSection)">Honor Code</div>
				<div class="section-button" id="Disclaimer"    ng-click="saveSection(text, 'Disclaimer',    lastSection)">Disclaimer</div>
			</div>

			<!-- Highlight "Title" button by default -->
			<script type="text/javascript">
				document.getElementById('Title').style.background = "#235d86";
				document.getElementById('Title').style.color = "white";
			</script>

			<!-- Text editor -->
			<div class="right-side">
				<div>
					<textarea class="editor" placeholder="{{placeholderText}}" ng-model="text"></textarea>
				</div>
			</div>

			<!-- Bottom button panel -->
			<div class="bottom">
				<span class="preview-button" ng-click="preview()">Preview</span>
				<a class="export-button" ng-click="export()" ng-href="{{fileUrl}}" download="syllabus.docx">Export to Word</a>
			</div>
		</div>
	</body>
</html>
