body {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 10px;
}

.header {
	font-family: Arial;
	padding-bottom: 50px;

	min-width: 500px;
	max-width: 500px;
	min-height: 30px;
	max-height: 30px;
}

.title {
	font-size: 30px;
	display: inline;
}

.tagline {
	padding-left: 20px;
	font-size: 20px;
	display: inline;
}

.left-side {
	float: left;
	width: 20%;
	padding-bottom: 40px;
}

.right-side {
	float: right;
	width: 80%;
	padding-bottom: 40px;
}

.section-button {
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;

	-webkit-box-shadow: 0px 1px 5px #666666;
	-moz-box-shadow: 0px 1px 5px #666666;
	box-shadow: 0px 1px 5px #666666;

	font-family: Arial;
	color: #575757;
	font-size: 20px;
	background: #ffffff;
	padding: 10px 20px 10px 20px;
	text-decoration: none;

	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;

	cursor: pointer;

	min-width: 150px;
	max-width: 150px;

	margin-bottom: 7px;
}

.section-button:hover {
	background: #e0e0e0!important;
	text-decoration: none!important;	
}

.editor {
	width: 100%;
	height: 488px;

	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	-webkit-box-shadow: 0px 1px 5px #666666;
	-moz-box-shadow: 0px 1px 5px #666666;
	box-shadow: 0px 1px 5px #666666;

	font-family: Arial;
	font-size: 20px;

	outline: none;
	resize: none;
	overflow: auto;
}