<!DOCTYPE html>
<html>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <body>
        <!-- 
        We've already seen some Angular directives (ng-model, ng-bind, ng-init), but
        there are lots of useful directives for controlling HTML layout 
        -->

        <div ng-app="">
            <!-- ng-repeat repeats HTML elements -->
            <div ng-init="names=['Federico', 'Mark', 'Devi', 'Cassidy']">
                <p>The Syllabuilder team consists of:</p>
                <ul>
                    <li ng-repeat="name in names">
                        {{ name }}
                    </li>
                </ul>
            </div>

            <!-- ng-if renders HTML elements conditionally -->
            <div>
                Enter a name: <input ng-model="profName">
                <span ng-if="profName==='David Stotts'">
                    That's our COMP 523 professor!
                </span>
            </div>
            <br>

            <!-- ng-switch renders HTML elements conditionally from multiple choices -->
            <div>
                Enter a name: <input ng-model="memberName">
                <span ng-switch="memberName">
                    <span ng-switch-when="Federico"> You entered Federico!                     </span>
                    <span ng-switch-when="Mark">     You entered Mark!                         </span>
                    <span ng-switch-when="Devi">     You entered Devi!                         </span>
                    <span ng-switch-when="Cassidy">  You entered Cassidy!                      </span>
                    <span ng-switch-default>         You didn't enter a Syllabuilder member... </span>
                </span>
            </div>
        </div>

    </body>
</html>